.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-left: 70%;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  position: static;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.search {
  padding: 5px 0 20px 0;
}
.table {
  margin-top: 2cm;
  border-collapse: collapse;
  width: 88%;
  box-shadow: 0px 0px 20px rgba(67, 68, 68, 0.7);
}
.card2 {
  
  text-align: center;
  background-color: #dce4dc;
  color: rgb(66, 65, 65);
  font-size: medium;
}
.card1 {
  text-align: center;
  width: 20rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin: 30px 5% 10px 2%;
  box-shadow: 0px 0px 20px rgba(23, 24, 24, 0.7);
}
.card {
  padding-top: 1cm;
  padding-left: 30%;
  justify-content: center;
  color: green;
  font-size: large;
}

.footer {
  background-color: rgb(174, 217, 243);
  margin-top: 3cm;
  padding-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .root {
    grid-template-columns: auto;
  }
  .card1 {
    display: block;
  }
  .App-header {
    width: 100%;
  }
}
